@import '../../assets/sass/variabels.scss';

.Navbar{
    grid-column: center-start/center-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    color: $color-white;
    padding: 0 3rem;
    border-radius: 3px;
    &_title{
        font-size: 3rem;
    }
    &_list{
        font-size: 2rem;
        display: flex;
        flex-direction: row-reverse;
        
        a{
            color: $color-white;
            padding-left: 2rem;
        }
    }
}