.App{
    display: grid;
    grid-template-rows: 8rem 10rem min-content;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8,[col-start] minmax(min-content,14rem) [col-end]) [center-end] 1fr [full-end];
    grid-auto-rows: min-content;
   
}