.CryptoAutoComplete {
  position: relative;
  z-index: 10;
  max-width: 60rem;
  padding: 1rem;

  input {
    font-size: 16px;
  }
  label {
    // position: relative;
    // top: 12px;
    font-size: 12px;
  }
}
.CryptoAutoComplete_listItem {
  width: 100%;
  font-size: 16px;
  padding: 2px 0;
}
