* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazir-Light-WOL.woff") format("woff");
}
html {
  font-size: 62.5%;
  font-family: "Vazir";
  width: 100%;
  min-height: 100vh;
  background-color: #d90f15;
}

body::before,
body::after {
  margin: 0;
  padding: 0;
}
