* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Vazir';
       src:  url('./assets/fonts/Vazir-Light-FD-WOL.woff') format('woff');
}
html{
  font-size: 62.5%;
  font-family: 'Vazir';
}

body::before,body::after{
  margin: 0;
  padding: 0;
}
