/* Color Theme Swatches in Hex */
$color-primary: #F08F1E;
$color-dark-blue: #275590;
$color-red: #F63B45;
$color-yellow: #F7EF1A;
$color-green: #2BC36F;
$color-white:#fff;
$color-black:#000;



// /* Color Theme Swatches in RGBA */
// $Copy-of-Bitcoin-icon-1-rgba: rgba(239,142,29, 1);
// $Copy-of-Bitcoin-icon-2-rgba: rgba(38,84,144, 1);
// $Copy-of-Bitcoin-icon-3-rgba: rgba(246,59,68, 1);
// $Copy-of-Bitcoin-icon-4-rgba: rgba(246,239,26, 1);
// $Copy-of-Bitcoin-icon-5-rgba: rgba(42,195,110, 1);

